{% extends "soundify/base.html" %}

{% block main %}

    <section class="container-contacto">
        <h2 class="contacto-header-main">Contactos</h2>

        {% for contacto in contactos %}
            <p class="contactos-p">
                {{ contacto.nome }} {{contacto.apelido}} ({{contacto.email}})
                <a href="{% url 'soundify:edita' contacto.contacto_id %}" class="btn btn-warning">Editar</a>
            </p>
        {% endfor %}

        <a href="{% url 'soundify:novo' %}" class="btn-novo-contacto">Novo Contacto</a>
    </section>

{% endblock %}