{% extends "soundify/base.html" %}

{% load static %}

{% block main %}

<main class="tables-section">
    <iframe id="iframe-video" width="560" height="315" src="https://www.youtube.com/embed/2SDvdsV3vXQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h2 class="html-header">Html</h2>
    <table border="1" cellpading="10%" cellspacing="5%" style="margin: auto;" class="html-table">
        <tr>
            <td>Headers</td>
            <td>h2, h4</td>
        </tr>
        <tr>
            <td>Marcadores</td>
            <td>Header, Nav, Section, Footer</td>
        </tr>
        <tr>
            <td>Atributos</td>
            <td>src, alt, type, id, border, cellpading, cellspacing, style, href, target</td>
        </tr>
    </table>
    <h2 class="css-header">Css</h2>
    <table border="1" cellpading="10%" cellspacing="5%" style="margin: auto;" class="css-table">
        <tr>
            <td>Tipos de Seletores</td>
            <td>Universal, Tipo, Classe, Id, Atributo, Pseudo-classe, Pseudo-elemnto</td>
        </tr>
        <tr>
            <td>Combinadores de Seletores</td>
            <td>Descendentes, Filhos, Adjacentes, Agrupados</td>
        </tr>
        <tr>
            <td>Unidades</td>
            <td>%, px, em</td>
        </tr>
    </table>
    <h2 class="css-header">Django</h2>
    <table border="1" cellpading="10%" cellspacing="5%" style="margin: auto;" class="css-table">       
        <tr>
            <td>Mapeamento Objeto-Relacional (ORM)</td>
            <td>Com o ORM do Django você define a modelagem de dados através de classes em Python. Com isso é possível gerar suas tabelas no banco de dados e manipulá-las sem necessidade de utilizar SQL (o que também é possível).</td>
        </tr>
        <tr>
            <td>Interface Administrativa</td>
            <td>No Django é possível gerar automaticamente uma interface para administração dos modelos criados através do ORM.</td>
        </tr>
        <tr>
            <td>Formulários</td>
            <td>É possível gerar formulários automaticamente através dos modelos de dados.</td>
        </tr>
        <tr>
            <td>URLs</td>
            <td>No Django não há limitações para criação de URLs de maneira simples.</td>
        </tr>
        <tr>
            <td>Sistema de Templates</td>
            <td>O Django tem uma linguagem de templates poderosa, extensível e amigável. Com ela você pode separar design, conteúdo e código em Python.</td>
        </tr>
        <tr>
            <td>Sistema de Cache</td>                
            <td>O Django possui um sistema de cache que se integra ao memcached ou em outros frameworks de cache.</td>
        </tr>
        <tr>
            <td>Internacionalização</td>
            <td>Django tem total suporte para aplicações multi-idioma, deixando você especificar strings de tradução e fornecendo ganchos para funcionalidades específicas do idioma</td>
        </tr>
    </table>
        <h2 class="css-header">JavaScript</h2>
        <table border="1" cellpading="10%" cellspacing="5%" style="margin: auto;" class="css-table">
            <tr>
                <td>Programação Orientada a Eventos</td>
                <td>Uma característica do JavaScript que o torna útil para a programação web é que suporta Programação Orientada a Eventos é, a sua deteção de eventos (eventlistener) e em ações que devem ser tomadas
                    quando um evento é detetado (eventhandler)</td>
            </tr>
            <tr>
                <td>Variáveis</td>
                <td>Existem três palavras-chave que podemos usar para atribuir valores em JavaScript: o var, o let e o const.
                </td>
            </tr>
            <tr>
                <td>Data-attributes e datasets</td>
                <td>Podemos criar novos atributos com data-attributes, que começam com data-* com a informação que queremos.</td>
            </tr>
            <tr>
                <td>Manipulação do DOM</td>
                <td>O Modelo de Documento por Objetos (do inglês Document Object Model - DOM) é uma convenção multiplataforma e independente de linguagem de programação, fiscalizada pelo entidade World Wide Web Consortium (W3C), para representação e interação com objetos em documentos HTML, XHTML e, XML.</td>
            </tr>
            <tr>
                <td>Local Storage</td>
                <td>Quando se recarrega uma página, toda a informação é perdida.
                    </td>
            </tr>
            <tr>
                <td>API</td>
                <td>Objetos JavaScript servem para transferir dados de um   site para outro, particularmente quando se utilizam APIs</td>
            </tr>
            <tr>
                <td>AJAX</td>
                <td>Usamos AJAX (Assincronous JavaScript and XML), que permite aceder a informações de páginas externas.</td>
            </tr>
        </table>
</main>
<section class="section-wordcloud">
    <figure class="figure-wordcloud">
        <img src="{% static "soundify/images/wordcloud.jpg" %}" width="450px">
    </figure>
    <details id="details-wordcloud"><summary></summary>Wordcloud</details>
</section>
<section class="feedback-section">
    <h2 class="feedback-header">Let us know what you think!</h2>
    <p class="feedback-p">Your opinion is very important to us so you can help us improve our services.</p>
    <div class="rate-us">
        <h4 class="rate-us-header">Click a star to rate our services</h4>
        <div class="rate-us-star">
            <span class="material-icons">&#xe885;</span>
            <span class="material-icons">&#xe885;</span>
            <span class="material-icons">&#xe885;</span>
            <span class="material-icons">&#xe885;</span>
            <span class="material-icons">&#xe885;</span>
        </div>
    </div>
</section>            

{% endblock %}