{% extends "soundify/base.html" %}

{% block main %}
<main class="login-section">

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form class="login-form" action="{% url 'soundify:login' %}" method="POST">
        {% csrf_token %}
        <fieldset class="login-fieldset">
            <div class="user-pass">
                <input type="text" name="username" required maxlength="25">
                <span></span>
                <label>Username</label>
            </div>
            <div class="user-pass">
                <input type="password" name="password" required minlength="8">
                <span></span>
                <label>Password</label>
            </div>
            <div class="forgot-pass">Forgot password?</div>
            <input type="submit" value="Log in">
            <div class="signup">Not member? <a href="{% url 'soundify:register' %}">Signup</a></div>
        </fieldset>
    </form>
</main>

{% endblock %}