{% extends "soundify/base.html" %}

{% block main %}

<main class="register-section">
    <form class="register-form">
        <fieldset class="register-fieldset">
            <div class="user-pass">
                <input type="text" required maxlength="25">
                <span></span>
                <label>Username</label>
            </div>
            <div class="user-pass">
                <input type="email" required>
                <span></span>
                <label>Email</label>
            </div>
            <div class="user-pass">
                <input type="password" required minlength="8">
                <span></span>
                <label>Password</label>
            </div>
            <div class="user-pass">
                <input type="password" required minlength="8">
                <span></span>
                <label>Repeat Password</label>
            </div>
            <div class="checkbox-terms-condition">
                <input type="checkbox" required>
                <span id="terms-condition">I agree to the Terms & Condition</span>
            </div>
            <input type="submit" value="Register">
        </fieldset>
    </form>
</main>

{% endblock %}